.scroll-tab {
	position:   relative;
    height:     600px;
    margin-top: .5rem;
    overflow:   auto;
}

#map{ 
    height: 620;
    width:  530;
 } 


#loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 16, 16, 0.43);
    z-index: 100500;
    height: 620px;
    width: 100%;
}

#loader .spinner {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 150px;
    top: 150px;
    background: url('img/GD.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}